.col-2{
    height: auto;
    background-color: black;
}
.form-control{
    width: 60%!important;
}
.btn button:hover{
    background-color: #0B1931;
    border: 1px solid #0b1931;
}
.search{
    height: 160px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(222,34,231,1) 0%, rgba(0,212,255,1) 100%);
}
.movie{
    height: auto;
    background-color: #10141E;
}
.movielist{
   height: 400px;
   border: 1px solid gray;
   margin: 0 10px;
   margin-top: 10px;
}
.book .img img{
    height: 220px;
    background-size: cover;
}